# pseudo
*.upf
*.UPF

# QE outputs
out/
*.out
UNK*
bands.dat
*.proj.dat.projwfc_up
*.pdos_atm#*
*.gnu
*.rap

# W90 inputs
*.amn
*.mmn
*.eig
*.spn

# W90 outputs
*.nnkp
*.wout
*.cube
*.xsf
*_band.gnu
*_band.dat
*_band.labelinfo.dat
*_band.kpt
*.chk
*.chk.fmt
*.werr

# misc
*.log
CRASH
.ipynb_checkpoints
